@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('wdth'),
         url('fonts/Roboto-VariableFont_wdth\,wght.ttf') format('wdth');
}
*{
    padding: 0%;
    margin: 0%;
}
.header{
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    justify-content: space-between;
    height: 105px;

}
.logo{
    font-family: "Roboto";
    color: #2E363E;
    margin-bottom: 22px;
    margin-top: 22px;
    font-size: 52px;
}
.urls{
    display: flex;
    align-items: center;
}
.urls a{
    color: #2E363E;
    font-family: "Roboto";
    font-size: 18px;
    margin-left: 60px;
}
.urls a:link{
    color: #2E363E;
    text-decoration: none;
}